@charset "utf-8";

@font-face {
    font-family: 'BorisBlackBloxx';
    src: url('borisblackbloxx-webfont.eot');
    src: local('☺'), url('borisblackbloxx-webfont.woff') format('woff'), url('borisblackbloxx-webfont.ttf') format('truetype'), url('borisblackbloxx-webfont.svg#webfontNW4CPWcX') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{ margin: 0; padding: 0; }*

body {
	vertical-align: middle;
	/*background: #e3f2f6 url('../images/header-bg.png') repeat-x top left;
	background-attachment:fixed;*/
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
	font-size: 12px;
    line-height: 1.7em;
	/*color: #4F5155;*/
	color: #333;
	background-color: #eaeaea;
	margin: 0;
}

#footer { margin-top: 1em; padding: 10px 5px; border: 1px solid #ccc; background-color: #000; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: #f0f0f0 }

#menu { height: 30px; line-height: 30px; padding: 2px; margin: 0; vertical-align: middle }

#header { height: 90px; background: url('../images/black-opacity45.png'); padding: 5px }

#menu a.item { letter-spacing: 0.1em; color: #fff; font-size: 20px; font-family: BorisBlackBloxx, "Arial Black", sans-serif; height: 30px; line-height: 28px; border: 0px solid black; display: block; float: left; padding: 0 10px; margin: 0 10px; text-decoration: none;; vertical-align: middle }
#menu a.item:hover { color: #000; background: url('../images/white-50.png'); }

input#query { float: right; border: 1px solid #333; padding: 3px 3px 3px 20px;
              -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; height: 18px; width: 267px; margin: 4px 0px;
              background: #eedf9e url("../images/icons/search.png") no-repeat;
              background-position: 3px 50%; display: block }
input#query:hover, input#query:focus { background: #efefef url("../images/icons/search.png") no-repeat; background-position: 3px 50%; }
.ui-menu .ui-menu-item a.total { color: #666; border-top: 1px solid #ccc; padding-left: 10px }

#page { background-color: #eaeaea; padding: 15px; background: url('../images/line-gradient.png') top left repeat-x }

#top { height: 100px; background: url('../images/vinyl-background.jpg') top left repeat-x  }

#content { padding: 10px 5px; border: 1px solid #ccc; background-color: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

img { border: 0 }

p { margin-top: 0.6em;}

img.gravatar { float: right; margin: 0 0 3px 3px; border: 2px solid #666; }

ul.bullets { list-style-type: none; padding: 0; margin: 0; }
ul.bullets li { background: url("../images/icons/bullet-white-alt.png") no-repeat 0 50%; padding-left: 20px; }



/* layout
   ------ */

a {
    color: #3681a2;
    background-color: transparent;
    font-weight: normal;
}

td { padding: 0.1em 0.2em }
th { text-align: left; padding-right: 0.8em }
table.search { margin: 0.5em;}
table.search th { border-bottom: 1px #eaeaea solid; }
tr.artist td { border-bottom: 1px #eaeaea solid; font-size: 1.1em; padding: 0.1em 0; }
tr.separator td, tr.separator th { border-bottom: 1px #ccc solid; }

h1, h2, h3 { font-family: Trebuchet, Tahoma, Arial, sans-serif }

h1 {
    color: #444;
    background-color: transparent;
    font-size: 1.6em;
    font-weight: bold;
}

h2 {
	font-size: 1.5em;
	color: #531a15;
        border-bottom: 1px solid #cebebe;
	margin: 0.5em 0;
}

h3 {
	color: #73241d;
	margin: 0.4em 0;
	font-size: 1.2em;
}

.sidebar { background-color: #eaeaea; }

.box { background-color: #fafafa; padding: 0.6em; margin: 0.6em; border: 1px solid #ccc }

.box h3 { margin: 0.2em 0; color: #73241d }

.box li { list-style-position: inside }

ul.donate {
	list-style: none;
}

ul.donate li {
	display: inline-block;
}

code {
 font-family: Monaco, Verdana, Sans-serif;
 font-size: 12px;
 background-color: #f9f9f9;
 border: 1px solid #D0D0D0;
 color: #002166;
 display: block;
 margin: 14px 0 14px 0;
 padding: 12px 10px 12px 10px;
}

/*** PAGINATION ***/

.pagination {
	display: block;
	float: left;
	border: 0;
	margin: 2em 0 3em 0;
}

	.pagination li{
        background: transparent;
		display: inline;
		border:0;
		margin:0;
		padding:0;
		font-size:11px;
		list-style:none;
	}
	.pagination a {
		border:solid 1px #DDDDDD;
		margin-right:2px;
	}
	.pagination .off {
		color:#666666;
		float:left;
		font-weight:bold;
		padding:4px 6px;
		margin-right: 2px;
	}
	.pagination .title, .pagination.title{
		color:#666;
		float:left;
		padding:4px 10px;
	}
	.pagination .step a {
		font-weight:bold;
		border:solid 1px #FFFFFF;
	}
	.pagination .active{
		color:#ff0084;
		font-weight:bold;
		float:left;
		padding:4px 6px;
	}
	.pagination a:link,
	.pagination a:visited {
		color:#0063e3;
		display:block;
		float:left;
		padding:3px 6px;
		text-decoration:none;
	}
	.pagination a:hover{
		border:solid 1px #666;
	}

.order { margin: 2em 0 3em 0; float: right }
.order li.active { padding: 0; }
.order .active a { border-color: #000; font-weight: bold; }
.direction { margin: 2em 0; float: right }

/* Form fields
-------------------------------------------------------------- */

label { display: block; font-size: 1.2em; font-weight: bold; margin-top: 0.5em; }

form span {
	display: block;
	font-size: 10px;
}

form span.text {
	font-size: 12px;
}

input.text, input.title,
textarea, select {
  margin:0.5em 0;
  border:1px solid #bbb;
}

input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border:1px solid #666;
}

input.text,
input.title   { width: 290px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; font-family: 'Lucida Grande', Verdana, sans-serif; font-size: 11px; }

input.small { width: 100px }
input.x-small { width: 50px }

/* BUTTONS */

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

.sponsor { padding-top: 25px; }

/* Success, notice and error boxes
-------------------------------------------------------------- */

.error,
.notice,
.success    { padding: .8em; margin: 1em 0; border: 2px solid #ddd; }

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }